<div class="container mt-3">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <div class="card" style="box-shadow: 2px 2px 5px #ccc;">
                <div class="card-header" style="color:#ccc ; background-color: #18225D;">
                    <h5 style="color:#ccc ;">Soal Essay</h5>
                </div>
                <div class="card-body">
                    <%include ../massages%>
                    <form action="/guru/edit/soal/quis/Essay/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=guru.id%>/<%=quis.id%>/<%=soal.id%>" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Soal nomor</label>
                            <textarea class="form-control" 
                            id="soal"
                            name="soal" 
                            rows="5"><%=soal.soal%></textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Catatan</label>
                            <textarea class="form-control" 
                            id="catatan"
                            name="catatan" 
                            rows="3"><%=soal.catatan%></textarea>
                        </div>

                        

                        <center>
                            <button type="submit" class="btn col-lg-5 mt-3" style="color:#ccc ; background-color: #18225D;"><i class="fas fa-edit"></i> Simpan Perubahan</button>
                            <a href="/guru/quis/editjudul/Essay/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=guru.id%>/<%=quis.id%>" class="btn col-lg-5 mt-3" style="color:#ccc ; background-color: #18225D;"><i class="fas fa-chevron-left"></i> Kembali</a>
                        </center>
                    </form>
                    
                </div>
              </div>

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>