<%include ./navbarsiswa%>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card">
                <h5 class="card-header"></h5>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <%include ../massages%>
                  <a href="/siswa/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=siswa.id%>" class="btn col-lg-12" style="color:#ccc ; background-color: #18225D;">Kembali Beranda Kelas</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4"></div>
    </div>
</div>