<%include ./navbarsiswa%>


<div class="container">
    <div class="card m-2">
        <h5 class="card-header"></h5>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <%include ../massages%>
          <form action="/siswa/input/absensi/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=siswa.id%>/<%=absensi.id%>" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Guru Pembimbing <%=absensi.guru%></label> <br>
                <label for="exampleInputEmail1">Deskripsi <%=absensi.deskripsi%></label>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="text" 
                class="form-control" 
                id="kode" 
                name="kode">
            </div>

            <button type="submit" class="btn <%=tombol%>" style="color:#ccc ; background-color: #18225D;"><i class="fas fa-file-upload"></i> Simpan</button>
            <a href="/siswa/lihat/absensi/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=siswa.id%>" class="btn" style="color:#ccc ; background-color: #18225D;"><i class="fas fa-chevron-left"></i> Kembali</a>

          </form>

        </div>
      </div>
</div>