<%include ./navbarsiswa%>


<div class="container-fluid">
    <div class="row mt-10">


        <div class="col-lg-9">
          <h3>Materi : <%=mapel%></h3>
          

            <%for (dtmateri of ListMateris){ %>
            <div class="card <%=dtmateri.tampilkan%>">
                <h5 class="card-header"><%=dtmateri.tanggal%></h5>
                <div class="card-body">
                  <h5 class="card-title"><%=dtmateri.namatugas%></h5>
                  <p class="card-text"><%=dtmateri.keterangan%></p>

                  <div class="gambar <%=dtmateri.gambar%> m-2">
                    <center>
                      <img src="/strong/<%=dtmateri.filename%>" width="200px" alt="">
                    </center>
                  
                </div>
      
                <div class="video <%=dtmateri.video%>">
                    <center>
                      <video width="320" height="240" controls>
                          <source src="/strong/<%=dtmateri.filename%>" type="video/mp4">
                      </video>
                    </center>
      
                </div>
      
                <div class="document <%=dtmateri.document%>">
                    <center>
                      <i class="fas fa-file" style="font-size: 80px;"></i>
                      <h6>Document</h6>
                    </center>
      
                </div>

                  <a href="/strong/<%=dtmateri.filename%>" class="btn " style="color:#ccc ; background-color: #18225D;" download="<%=dtmateri.originalname%>"><i class="fas fa-download"></i> Download Materi</a>
                  <!-- <a href="/siswa/kumpultugas/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=siswa.id%>/<%=dtmateri.id%>" class="btn btn-primary">Pengumpulan Tugas</a> -->
                </div>
              </div>
            <% } %>


        </div>


        <div class="col-lg-3">
            <a href="/siswa/lihat/absensi/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=siswa.id%>" class="btn col-lg-12" style="color:#ccc ; background-color: #18225D;"><i class="fas fa-eye"></i> Absensi Kehadiran</a>
            <a href="/siswa/lihat/tugas/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=siswa.id%>" class="btn col-lg-12 mt-2" style="color:#ccc ; background-color: #18225D;"><i class="fas fa-eye"></i> Tugas</a>

            <center>
              <h4>Quiz</h4>
            </center>
            <div style="width: 100%; height: 450px; overflow: scroll;">
              <% for (datas of ListJuduls){ %>
                <div class="card">
                  <h5 class="card-header"><%=datas.tanggalmulai%>-<%=datas.bulanmulai%>-<%=datas.tahunmulai%> s.d <%=datas.tanggalakhir%>-<%=datas.bulanakhir%>-<%=datas.tahunakhir%></h5>
                  <div class="card-body">
                    <h5 class="card-title"><%=datas.namaquis%></h5>
                    <p class="card-text">Jenis Soal <%=datas.jenissoal%><br>Durasi Soal <%=datas.jam%>.<%=datas.menit%></p>
                    <a href="/siswa/quis/<%=kelas%>/<%=jurusan%>/<%=lokal%>/<%=mapel%>/<%=siswa.id%>/<%=datas.id%>" class="btn col-lg-12" style="color:#ccc ; background-color: #18225D;"><i class="fas fa-play"></i> Mulai</a>
                  </div>
                </div>
                <% } %>
            </div>
            <div class="card">
              <div class="card-body">
                Operator Sekolah (Akun, Data, dll)<br>
                <a href="https://wa.me/6282244666681"> <i class="fab fa-whatsapp"></i> Wahyu Illahi</a><br>
                IT Support/Maintenance (Problem System, System Error) 
                <a href="https://wa.me/6282244666681"><i class="fab fa-whatsapp"></i> Wahyu Illahi</a>
              </div>
            </div>


        </div>


    </div>
</div>