<%include ./navbaradmin%>

<div class="container" style=" overflow: scroll;">

  <div id="layoutSidenav_content">
    <main>
            <div class="card mb-4" style="color: #18225D;">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Semua Jadwal Mengajar
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nama Guru</th>
                                <th scope="col">Hari</th>
                                <th scope="col">Kelas</th>
                                <th scope="col">Jurusan</th>
                                <th scope="col">Mapel</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nama Guru</th>
                                <th scope="col">Hari</th>
                                <th scope="col">Kelas</th>
                                <th scope="col">Jurusan</th>
                                <th scope="col">Mapel</th>
                                <th scope="col">Action</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              <% for (data of ListMapel){ %>
                                <tr>
                                  <th scope="row"> <%=data.no%> </th>
                                  <td><%=data.guru%></td>
                                  <td><%=data.hari%> <%=data.jam%></td>
                                  <td><%=data.kelas%> <%=data.lokal%></td>
                                  <td><%=data.jurusan%></td>
                                  <td><%=data.mapel%></td>
                                  <td>
                                    <a href="/admin/editjadwal/<%=data.id%>" class="btn " style="color:#ccc ; background-color: #18225D;"><i class="fas fa-edit"></i></a>
                                    <a href="/admin/hapusjadwal/<%=data.id%>" class="btn " style="color:#ccc ; background-color: #18225D;"><i class="fas fa-trash-alt"></i></a>
                                  </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        
    </main>
  </div>

</div>
